@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Fira Code";
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #011627;
  opacity: 1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .blob-background::after {
    @apply absolute w-64 h-1/2 rotate-45 bg-[#4D5BCE] rounded-full blur-3xl brightness-50;
  }

  .blob-background::before {
    @apply absolute w-64 h-72 bg-[#43D9AD] rounded-full blur-3xl brightness-50;
  }

  .blob-background::before {
    @apply top-52 left-0;
    content: "";
  }

  .blob-background::after {
    @apply top-96 left-36;
    content: "";
  }

  .secondary {
    color: #4d5bce;
  }

  .accent-green {
    color: #43d9ad;
  }
}
